Tutorials/imageService/types/src/main/resources/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://uk.co.brett.jms/"
           elementFormDefault="qualified">

    <xs:complexType name="PointsRequest">
    	<xs:sequence>
    		<xs:element name="number" type="xs:int"/>
    	</xs:sequence>
    </xs:complexType>

     <xs:complexType name="PointsResponse">
    	<xs:sequence>
    		<xs:element name="id" type="xs:int"/>
    		<xs:element name="x" type="xs:decimal"/>
    		<xs:element name="y" type="xs:decimal"/>
    	</xs:sequence>
    </xs:complexType>   


</xs:schema>